
{% extends 'base.html'  %}

{% load static %}
	{% block content %}
	<link rel="stylesheet" href="{% static 'second.css' %}">
  <link rel="stylesheet" href="{% static 'faaq.css' %}">
		  <title>Online Guidebook - FAQs</title>

	<section class = "base">
	 <section class = "questions">
    <div class="faq-item">
        <input type="checkbox" id="faq1" class="faq-toggle">
        <label for="faq1" class="faq-question">
          <span class="faq-icon"><i class="fas fa-plus"></i></span>What language are lessons in?</label>
        <div class="faq-answer">
          <p>The Bachelor programme is taught entirely in English, the College programme is taught in Kazakh and Russian and the Master programme is taught on a combined basis (Kazakh, Russian and English).</p>
        </div>
      </div>

      <div class="faq-item">
        <input type="checkbox" id="faq2" class="faq-toggle">
        <label for="faq2" class="faq-question">
          <span class="faq-icon"><i class="fas fa-plus"></i></span>What is an online guidebook for students?</label>
        <div class="faq-answer">
          <p> An online guidebook for students is a digital resource that provides information and guidance on various aspects of student life, such as academic support, campus facilities, extracurricular activities, and other essential services. It serves as a comprehensive reference tool to help students navigate their educational journey.</p>
        </div>
      </div>

      <div class="faq-item">
        <input type="checkbox" id="faq3" class="faq-toggle">
        <label for="faq3" class="faq-question">
          <span class="faq-icon"><i class="fas fa-plus"></i></span> What are the advantages of using an online guidebook for students?</label>
        <div class="faq-answer">
          <p>There are several advantages of using an online guidebook for students:</p>
          <ul>
            <li>Accessibility: It can be accessed anytime, anywhere, as long as you have an internet connection and a compatible device.</li>
            <li>Comprehensive Information: The guidebook offers a wide range of information on various topics...</li>
            <li>Organization: The guidebook is typically structured in a user-friendly manner...</li>
            <li>Updated Content: Online guidebooks can be regularly updated...</li>
            <li>Convenience: Students can access the guidebook at their convenience...</li>
            <li>Cost-effective: Online guidebooks eliminate the need for printing and distribution costs...</li>
            <li>Eco-friendly: By opting for an online guidebook, institutions contribute to reducing paper waste...</li>
          </ul>
        </div>
      </div>


      <div class="faq-item">
        <input type="checkbox" id="faq4" class="faq-toggle">
        <label for="faq4" class="faq-question">
          <span class="faq-icon"><i class="fas fa-plus"></i></span>Is the information in the online guidebook regularly updated?</label>
        <div class="faq-answer">
          <p> Yes, one of the advantages of an online guidebook is that it can be regularly updated to ensure that the information provided remains accurate and up-to-date. As policies, services, or resources change, the guidebook can be promptly updated to reflect those changes.</p>
        </div>
      </div>

      <div class="faq-item">

        <input type="checkbox" id="faq5" class="faq-toggle">
        <label for="faq5" class="faq-question">
          <span class="faq-icon"><i class="fas fa-plus"></i></span>Can I provide feedback or suggest additions to the online guidebook?</label>
        <div class="faq-answer">
          <p>Absolutely! Your feedback and suggestions are highly valuable in improving the online guidebook. Most guidebooks have a feedback mechanism or contact information where you can share your thoughts, suggest additions or changes, or ask further questions.</p>
        </div>
      </div>
      <div class="faq-item">
        <input type="checkbox" id="faq6" class="faq-toggle">
        <label for="faq6" class="faq-question">
          <span class="faq-icon"><i class="fas fa-plus"></i></span>How do I navigate through the online guidebook?</label>
        <div class="faq-answer">
          <p>The online guidebook is typically designed with user-friendly navigation to help you find information easily. It may include a table of contents, search functionality, and clickable links to different sections or topics. You can use these tools to navigate through the guide book. The table of contents provides an overview of the different sections and topics covered in the guidebook. You can click on a specific section or topic to jump directly to that part of the guidebook. The search functionality allows you to enter keywords or phrases related to your query, and the guidebook will display relevant results. Additionally, clickable links within the guidebook can direct you to related pages or external resources for more detailed information.</p>
        </div>
      </div>

      <div class="faq-item">
        <input type="checkbox" id="faq7" class="faq-toggle">
        <label for="faq7" class="faq-question">
          <span class="faq-icon"><i class="fas fa-plus"></i></span>Can I access the online guidebook after I graduate?</label>
        <div class="faq-answer">
          <p>The availability of access to the online guidebook after graduation may vary depending on the specific policies of the educational institution or organization. Some institutions may restrict access to the guidebook to current students only, while others may provide ongoing access to alumni. It is recommended to check with the institution or organization that hosts the guidebook to determine the availability of access for graduates.</p>
        </div>
      </div>

      <div class="faq-item">
        <input type="checkbox" id="faq8" class="faq-toggle">
        <label for="faq8" class="faq-question">
          <span class="faq-icon"><i class="fas fa-plus"></i></span>  Can I access the online guidebook offline?</label>
        <div class="faq-answer">
          <p> The online guidebook requires an internet connection to access its content. </p>
        </div>
      </div>
      <div class="faq-item">
        <input type="checkbox" id="faq9" class="faq-toggle">
        
        <label for="faq9" class="faq-question">
          <span class="faq-icon"><i class="fas fa-plus"></i></span>How can the online guidebook help with my course selection and academic planning?</label>
        <div class="faq-answer">
          <p>The online guidebook often provides information on various courses, including their descriptions, prerequisites, and credit requirements. It can help you explore different majors, minors, and elective options, enabling you to make informed decisions about your course selection and plan your academic journey effectively.</p>
        </div>
      </div>
      <div class="faq-item">
        <input type="checkbox" id="faq10" class="faq-toggle">
        
        <label for="faq10" class="faq-question">
          <span class="faq-icon"><i class="fas fa-plus"></i></span>Does the online guidebook offer tips and resources for effective study techniques?</label>
        <div class="faq-answer">
          <p>This online guidebook include sections dedicated to study tips, time management strategies, note-taking methods, and other resources to help you enhance your study skills and academic performance.</p>
        </div>
      </div>
  </section>

	</section>

	<script src="{% static 'faq.js' %}"></script>
    {% endblock %}