
{% extends 'base.html'  %}

{% load static %}
	{% block content %}
	<link rel="stylesheet" href="{% static 'second.css' %}">
  <link rel="stylesheet" href="{% static 'faaq.css' %}">
		  <title>Online Guidebook - FAQs</title>

	<section class = "base">
	 <section class = "questions">
    <div class="faq-item">

        <input type="checkbox" id="faq1" class="faq-toggle">
        <label for="faq1" class="faq-question">
          <span class="faq-icon"><i class="fas fa-plus"></i></span>Question 1</label>
        <div class="faq-answer">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan tempor nunc, eget gravida dolor aliquet eu.</p>
          <img src="image1.jpg" alt="Image 1">
        </div>
      </div>

      <div class="faq-item">
        <input type="checkbox" id="faq2" class="faq-toggle">
        <label for="faq2" class="faq-question">
          <span class="faq-icon"><i class="fas fa-plus"></i></span>Question 2</label>
        <div class="faq-answer">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan tempor nunc, eget gravida dolor aliquet eu.</p>
          <img src="image2.jpg" alt="Image 2">
        </div>
      </div>

      <div class="faq-item">
        <input type="checkbox" id="faq3" class="faq-toggle">
        <label for="faq3" class="faq-question">
          <span class="faq-icon"><i class="fas fa-plus"></i></span>Question 3</label>
        <div class="faq-answer">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan tempor nunc, eget gravida dolor aliquet eu.</p>
          <img src="image2.jpg" alt="Image 2">
        </div>
      </div>


      <div class="faq-item">
        <input type="checkbox" id="faq4" class="faq-toggle">
        <label for="faq4" class="faq-question">
          <span class="faq-icon"><i class="fas fa-plus"></i></span>Question 4</label>
        <div class="faq-answer">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan tempor nunc, eget gravida dolor aliquet eu.</p>
          <img src="image2.jpg" alt="Image 2">
        </div>
      </div>

      <div class="faq-item">

        <input type="checkbox" id="faq5" class="faq-toggle">
        <label for="faq5" class="faq-question">
          <span class="faq-icon"><i class="fas fa-plus"></i></span>Question 5</label>
        <div class="faq-answer">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan tempor nunc, eget gravida dolor aliquet eu.</p>
          <img src="image2.jpg" alt="Image 2">
        </div>
      </div>
      <div class="faq-item">
        <input type="checkbox" id="faq6" class="faq-toggle">
        <label for="faq6" class="faq-question">
          <span class="faq-icon"><i class="fas fa-plus"></i></span>Question 6</label>
        <div class="faq-answer">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan tempor nunc, eget gravida dolor aliquet eu.</p>
          <img src="imageN.jpg" alt="Image N">
        </div>
      </div>

      <div class="faq-item">
        <input type="checkbox" id="faq7" class="faq-toggle">
        <label for="faq7" class="faq-question">
          <span class="faq-icon"><i class="fas fa-plus"></i></span>Question 7</label>
        <div class="faq-answer">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan tempor nunc, eget gravida dolor aliquet eu.</p>
          <img src="image2.jpg" alt="Image 2">
        </div>
      </div>

      <div class="faq-item">
        <input type="checkbox" id="faq8" class="faq-toggle">
        <label for="faq8" class="faq-question">
          <span class="faq-icon"><i class="fas fa-plus"></i></span>Question 8</label>
        <div class="faq-answer">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan tempor nunc, eget gravida dolor aliquet eu.</p>
          <img src="image2.jpg" alt="Image 2">
        </div>
      </div>
      <div class="faq-item">
        <input type="checkbox" id="faq9" class="faq-toggle">
        
        <label for="faq9" class="faq-question">
          <span class="faq-icon"><i class="fas fa-plus"></i></span>Question 9</label>
        <div class="faq-answer">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan tempor nunc, eget gravida dolor aliquet eu.</p>
          <img src="imageN.jpg" alt="Image N">
        </div>
      </div>
      <div class="faq-item">
        <input type="checkbox" id="faq10" class="faq-toggle">
        
        <label for="faq10" class="faq-question">
          <span class="faq-icon"><i class="fas fa-plus"></i></span>Question 10</label>
        <div class="faq-answer">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan tempor nunc, eget gravida dolor aliquet eu.</p>
          <img src="imageN.jpg" alt="Image N">
        </div>
      </div>
  </section>

	</section>

	<script src="{% static 'faq.js' %}"></script>
    {% endblock %}