
{% extends 'base.html'  %}

{% load static %}
	{% block content %}
	<link rel="stylesheet" href="{% static 'second.css' %}">
		<style>
		
      .gpa-calculator {

        height: 480px;
        margin: 0 auto;
        margin-right: 30%;

        padding-left: 30px;
        padding-right: 30px;

        border-radius: 16px;
        border: 2px solid #000000;
        background-color: #9C9CC60D;
      }
      .gpa-calculator h2{
      		margin-right: 60%;
      }
      .top-right {
        position: absolute;
        top: 9%;
        right: 2%;
        margin-top: 5%;
        width: 17%;
        padding: 15px;
        border-radius: 10px;
        border: 2px solid #000000;
        background-color: #9C9CC60D;	
      }
      
      .bottom-right {
      	top: 75%;
        position: absolute;
        right: 0;
        width: 20%;
        padding: 20px;
      
      }
      
      body {
        margin: 0;
        padding: 0;
      }
      
     .gpa{
     	font-size: 35px;
     	font-weight: 600;
     	margin-right: 50%;
     }
	.top-right ul {
		
		margin: 0 auto;
	}

	.top-right li {
	  transition: background-color 0.3s ease-in-out;  
	}
	.top-right a {
    text-decoration: none;
		padding: 3px;
	  font-size: 15px;
	  line-height: 18px;
	  letter-spacing: 0.05em;
	  color: inherit;
	}
	.top-right li:hover{
	  color: blue;
	}
		.gpa-calculator {
			 border: 2px solid black;
 			width: 55%;
			display: inline-block;
		}

		input[type="text"] {
			width: 100%;
			padding: 12px 20px;
			box-sizing: border-box;
			border: 1px solid #ccc;
			border-radius: 4px;
		}

		input[type="number"] {
			width: 100%;
			padding: 12px 20px;
			box-sizing: border-box;
			border: 1px solid #ccc;
			border-radius: 4px;
		}
		select{
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			box-sizing: border-box;
			border: 1px solid #ccc;
			border-radius: 4px;
		}
		



		.card1{
			display: grid;
		}
table {
            width: 75%;
        }
        th, td {
            text-align: left;
            padding: 0;
        }
        th {
            background-color: #f2f2f2;
        }
        input{
            width: 100%;
            border: none;
        }
        

        .form{
          margin-top: 5%;
        }
.gpa-calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
}
    .form button {  
   width: 80%;
    margin-left: 2%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 20px;
    background-color: #05043A;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    }
  }
    
   .form button:hover {

      background-color: red;
    }
.form {
  font-size: 20px;
  width: 100%;
  max-width: 300px; /* Adjust the max-width as needed */
}
.results {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

.results div {
  flex-basis: 40%;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #9C9CC60D;
  font-weight: bold;
}



</style>

	<section class = "base">
	<h2 class = "gpa">Final Grade Calculator</h2>


	 <div class="gpa-calculator">
    
    <div class="form">
  <label for="grade1">Grade 1:</label>
  <input type="number" id="grade1" name="grade1">

  <label for="grade2">Grade 2:</label>
  <input type="number" id="grade2" name="grade2">

  <button type="submit" id = "calc">Calculate</button>
  </div>

  
    <div class="results">
      <div id="maxGrade">Maximum Grade you can take: </div>
      <div id="povGrade">The Grade for taking 90 >: </div>
      <div id="saveGrade">The min Grade for saving Scholarship: </div>    
      <div id="retakeGrade">The minimum Grade you should take to pass Course: </div>
  
    </div>
  
  
	
    <div class="top-right">
		<ul>
			<li><a href="{% url 'calculator' %}">GPA Grade Calculator</a></li>
			<li><a href="{% url 'finalcalculator' %}">Final Grade Calculator</a></li>
			<li><a href="{% url 'scaleTable' %}">GPA Scale Table</a></li>
		</ul>
    </div>
    <div class="bottom-right"><img src="{% static 'logos.png' %}"></div>
		

	</section>
  <script>
      
      var calculateBtn = document.getElementById("calc");
      var maxGradeElement = document.getElementById("maxGrade");
      var povGradeElement = document.getElementById("povGrade");
      var saveGradeElement = document.getElementById("saveGrade");

      var retakeGradeElement = document.getElementById("retakeGrade");
       calculateBtn.addEventListener("click", function () {
          const grade1 = parseFloat(document.getElementById('grade1').value);
          const grade2 = parseFloat(document.getElementById('grade2').value);

          if (isNaN(grade1) || isNaN(grade2)) {
            alert('Please enter valid grades.');
            return;
          }

          var finalGrade = (grade1 * 0.3) + (grade2 * 0.3) + (100 * 0.4);
          var pov =  (90 - ((grade1 * 0.3) + (grade2 * 0.3))) /0.4;
          var save =  (70 - ((grade1 * 0.3) + (grade2 * 0.3))) /0.4;

          var retake =  (50 - ((grade1 * 0.3) + (grade2 * 0.3))) /0.4;
          if(pov > 100){
            
              povGradeElement.textContent = `The Grade for taking 90 >: Impossible to get`;
          }else{
            povGradeElement.textContent = `The Grade for taking 90 >: ${pov.toFixed(2)}`;
          }
          if(save < 50){
            save = 50.0;
          }
          if(save > 100){
              saveGradeElement.textContent = `The min Grade for saving Scholarship: Impossible to get`;
          }else{
            saveGradeElement.textContent = `The min Grade for saving Scholarship: ${save.toFixed(2)}`;
          }  

          if(retake < 50){
            retake = 50.0;
          }
          if(retake  > 100){
              retakeGradeElement.textContent = `The minimum Grade you should take to pass Course: Impossible to get`;
          }else{
            retakeGradeElement.textContent = `The minimum Grade you should take to pass Course: ${retake.toFixed(2)}`;
          }  
          maxGradeElement.textContent = `Maximum Grade you can take:: ${finalGrade.toFixed(2)}`;
          
        })
  </script>
    {% endblock %}