
{% extends 'base.html'  %}

{% load static %}
	{% block content %}
<link rel="stylesheet" href="{% static 'second.css' %}">
<style>
	.base{
		margin-top: 7%;
	}
</style>

	<section class = "base">
	<h2>BASIC CONCEPTS RELATED TO LEARNING TECHNOLOGIES</h2>
</section>	
     <div class="flashcard">
	<div class="flashcard__inner">

		<div class="flashcard__front">
			<p class = "flashcard__numb">1/15</p>
			<p class="flashcard__term"> SEB</p>
		</div>
		<div class="flashcard__back">
			<p class="flashcard__definition">Safe Exam Browser</p>
		</div>
	</div>
	<div class = "button">
			<button class="flashcard__previous"><i class="fas fa-chevron-left"></i></button>
			<button class="flashcard__next"><i class="fas fa-chevron-right"></i></button>
		</div>	
</div>
	<script src="{% static 'script.js' %}"></script>
    {% endblock %}