
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Login - University Platform</title>
    <link rel="stylesheet" type="text/css" href="{% static 'sett.css' %}">
    
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&amp;display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <!-- Navigation Bar Code -->
    </header>
    <main class="main-content">
      <nav class = "left-nav">
    <div class="logo-container">
       <img src="{% static 'unilogo.png' %}" alt="University Logo">
    </div>
 
  </nav>
      <div class="form-wrapper">

        <h2>Welcome AITUdent</h2>
        <div class="bar error">
        {{ form.errors}} 
        </div>
        <form class = "form" method = POST>
           {% csrf_token %} 

          <div class="form-control">
            <label for="username">Old Password</label>
              {{ form.old_password}}    
          </div>
          <div class="form-control">
            <label for="password">New Password 1</label>
            {{ form.new_password1}}
          </div>
          <div class="form-control">
            <label for="password">New Password 2</label>
            {{ form.new_password2}}
          </div>
          
          <button type="submit" class="btn" >Change Password</button>
        </form>

      </div>
    </main>
    <footer>
      <!-- Footer Code -->
    </footer>
  </body>
</html>
