


.faq-toggle {
  display: none;
}


.faq-question {
  cursor: pointer;
  display: flex;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #05043A;

}

.faq-question:hover {
  background-color: #e0e0e0;
}

.faq-icon {
  margin-right: 10px;
}

.faq-answer {
  padding: 2%;

  display: none;
}

.faq-answer img {
  max-width: 100%;
}

.questions{
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}
.faq-item{
  margin: 1%;
   flex-basis:70%;
  overflow: hidden;
}