header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #05043A;
  height: 35px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
}

.top-nav{
  position: fixed;
  width: 100%;
}
.top-nav a {
  margin-top: 7px;
  margin-left: 2px;
  font-family: Montserrat;
    
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: white;
}
.top-nav a:hover {
  background-color: #444;
}
.profile {
  
  list-style-type: none;
  margin: 0;
  margin-left: 79%;
}
.top-nav .profile{
  position: relative;
}
.liss{
  display: flex;
}
.profile ul {
  display: none;
  top: 5px;
  right: 0;
  background-color:  #05043A;
  margin-left: 50px;
  padding: 20px;
  z-index: 1;
}
.top-nav .profile ul li {
  margin: 10px 0;
}

.profile:hover ul{
  display: block;
}

/*.profile:hover ul { 
  display: block;
  margin-left: 200%;
  background-color:  #05043A;
}
*/
.left-nav {
  background-color: #05043A;
  height: 100%;
  width: 200px;
  margin-top: 35px;
  position: fixed;
  font-family: Montserrat;
  
  top: 0;
  left: 0;
}
.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {

  display: block;
  margin: 0 auto;
  padding: 8px;
  max-width: 100%;
  height: 80px;
}

.left-nav ul {
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 30px;
}

.left-nav  li {
  display: flex;
  align-items: center;
  padding: 10px;
  color : white;
  transition: background-color 0.3s ease-in-out;
  
}

.left-nav a {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: inherit;
}
.left-nav label {
  margin-left: 10px;
}
 .left-nav li:hover{
  background-color: white;
  color: navy;
}
.listIMG{
  height: 30px;
  margin-right: 10px;

}
@media screen and (max-width: 1200px) {
  .left-nav a{

  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-size: 8px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.03em;
  margin-left: 10px;
  text-decoration: none;
  color: inherit;
}
  .left-nav{
     height: 100%;
      width: 100px;
  }
  .listIMG{
    height: 10px;
    margin-right: 10px; 
  }
   .logo-container img {

    display: block;
    margin: 0 auto;
    padding: 8px;
    max-width: 100%;
    height: 45px;
  }
   
}


